<div ng-include="'/app/Templates/templateDoctor.html'"></div>
<div id="page-wrapper" ng-show="foundRD">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Datos de control de {{principal.name}} para AvancesJuegosCalculos</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                	<label>Filtrar por:  </label>
					<input type="text" ng-model="busqueda">
					<br><br>
                    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
<th>TiempoSegundos</th>
<th>NumeroPreguntasIntentos</th>
<th>NumeroPreguntasAciertos</th>
<th>PorcentajeSumasResueltas</th>
<th>PorcentajeRestasResueltas</th>
<th>PorcentajeMultiplicacionesResueltas</th>
<th>PorcentajeDivisionesResueltas</th>
<th>NivelMaximoAlcanzado</th>
<th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="d in diagnosticsNew | filter:busqueda" >
<td>{{d.tiempoSegundos}}</td>
<td>{{d.numeroPreguntasIntentos}}</td>
<td>{{d.numeroPreguntasAciertos}}</td>
<td>{{d.porcentajeSumasResueltas}}</td>
<td>{{d.porcentajeRestasResueltas}}</td>
<td>{{d.porcentajeMultiplicacionesResueltas}}</td>
<td>{{d.porcentajeDivisionesResueltas}}</td>
<td>{{d.nivelMaximoAlcanzado}}</td>
<td>{{d.date | date:"dd/MMMM/yyyy"}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			TiempoSegundos
		</div>
		<div class="panel-body">
			<canvas  id="tiempoSegundos" class="chart chart-bar"
				chart-data="tiempoSegundos" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			NumeroPreguntasIntentos
		</div>
		<div class="panel-body">
			<canvas  id="numeroPreguntasIntentos" class="chart chart-bar"
				chart-data="numeroPreguntasIntentos" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			NumeroPreguntasAciertos
		</div>
		<div class="panel-body">
			<canvas  id="numeroPreguntasAciertos" class="chart chart-bar"
				chart-data="numeroPreguntasAciertos" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			PorcentajeSumasResueltas
		</div>
		<div class="panel-body">
			<canvas  id="porcentajeSumasResueltas" class="chart chart-bar"
				chart-data="porcentajeSumasResueltas" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			PorcentajeRestasResueltas
		</div>
		<div class="panel-body">
			<canvas  id="porcentajeRestasResueltas" class="chart chart-bar"
				chart-data="porcentajeRestasResueltas" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			PorcentajeMultiplicacionesResueltas
		</div>
		<div class="panel-body">
			<canvas  id="porcentajeMultiplicacionesResueltas" class="chart chart-bar"
				chart-data="porcentajeMultiplicacionesResueltas" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			PorcentajeDivisionesResueltas
		</div>
		<div class="panel-body">
			<canvas  id="porcentajeDivisionesResueltas" class="chart chart-bar"
				chart-data="porcentajeDivisionesResueltas" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			NivelMaximoAlcanzado
		</div>
		<div class="panel-body">
			<canvas  id="nivelMaximoAlcanzado" class="chart chart-bar"
				chart-data="nivelMaximoAlcanzado" chart-labels="labels" chart-series="series">
			</canvas>
		</div>
	<!-- /.panel-body -->
	</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
